h1{
    color: #73bfb8;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

h2{
    color: #ea7317;
}

body{
    background-image: url("../images/Screen Shot 2021-08-04 at 5.58.58 PM.png");
}