h1{
    color: #73bfb8;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

body{
    align-items: center;
    text-align: center;
}

.mainButton{
    width: 200px;
}

.imgContainer{
    position: relative;
    width: 50%;
}

.img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imgContainer:hover .img {
    opacity: 0.3;
  }
  
  .imgContainer:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: #3da5d9;
    font-size: 43px;
    padding: 16px 32px;
    font-family: "Arvo", serif;
    font-weight: Bold;
  }